################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1669/.vs/1669/v16/Browse.VC.opendb
*.opendb